h1 {
    color:cornsilk ;
    text-align: center;
    font-family: "Arial Hebrew Scholar";
    letter-spacing: 2px;
}

body {
    background-color: thistle;
}

.header {
    height: 700px;
    padding-left: 40%;
    padding-top: 100px;
    border-radius: 10px;
}
.avatar {
    height: 200px;
    width: auto;
    border-radius:10px;
    margin-left: 74px;
}