

.acquaintance {
    display: flex;
    justify-content: center;
    flex: 70%;
}

.acquaintance__info {
    width: 100%;
    margin: 0 0 0 20px;
}

.acquaintance__name {
    margin: 0;
    padding: 10px 0 0 0;

}







.job {
    display: flex;
    gap: 0 16px;
    margin: 20px 0;
}

.job__position {
    margin: 0 0 10px 0;
}

.job__year {
    width: 110px;
}

.job__project {
    margin: 10px 0;
}

.job__project-item {
    margin: 0 0 5px 0;
}





.course {
    display: flex;
    gap: 0 16px;
    margin: 20px 0;
}

.course__year {
    width: 110px;
}

.course__position {
    margin: 0 0 10px 0;
}

.course__diploma-image {
    width: 300px;
    height: 200px;
    cursor: pointer;
    transition: opacity 0.4s ease-in ;
}

.course__diploma-image:hover {
    opacity: .6;

}


.course__diploma {
    width: 130px;
    margin: 0;
}

.course__title {
    display: flex;
}





.about-me__language {
    margin: 0;
    padding: 4px 10px;
    background:gray;
}

.about-me__skills {
    margin: 0;
    padding: 4px 10px;
    background:gray;
}



.about-me__skill-level {
    height: 20px;
    background-color: #ccc;
    position: relative;
}
.skill-level {
    margin: 10px 0;
    position: relative;
    width: 100%;
}

.skill-level__bar {
    background-color: #00bfff;
    width: 50%;
    line-height: 20px;
    padding: 0 0 0 10px;
}

.skill-level__bar::after {
    content: attr(data-percent);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: #262626;
    display: flex;
    justify-content: flex-end;
    right: 0;
    width: 100%;

}

.education__item {
    margin: 0 150px;
}
